# Test Report by Hien (Tester)

## 1. Test Environment
- Device: Pixel 8Pro


## 2. Test Results
- Login: Pass
- Search Dictionary: Pass
- Quiz : Pass
- Register: Pass
- Flash card: Pass
- Save: Pass
  
  
