# Test Report by Hien (Tester)

## 1. Test Environment
- Device: Pixel 8Pro


## 2. Test Results
- Login: Pass
- Search Dictionary: Pass
- Quiz : Chưa có trang tính điểm, chưa mở được phần nâng cao.
- Register: chưa có ràng buộc, mail trùng vẫn đăng nhập được.
- Flash card: hiện tại máy mình không lưu fl card được.
  
